body {
  font-family:Arial, sans-serif;
  margin:0;
}

header {
  display:flex;
  align-items:center;
  background-color:#003399;
  color: white;
  padding:10px;
}

.welcome {
  text-align:center;
  font-size:20px;
  color:white;
  font-weight:bold;
  margin-top:10px;
  background-color:#003399;
  padding:10px;
}

header img {
  margin-right: 15px;
}

.logo-text h1 {
  margin: 0;
  font-size: 1.2;
}

.logo-text p {
  margin: 0;
  font-size: 1em;
}

nav {
  background-color: #0055cc;
  text-align: center;
  padding:10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

nav ul li a:hover {
  background: #003399;
  padding:1px;
}

.content {
  padding: 20px;
  text-align: center;
}

.content-frame {
  width: 100%;
  height: 480px;   
  border: none;
  text-align: left;
}

@media (max-width: 360px) {
  body {
    font-size: 12px;
  }

  nav ul {
    flex-direction: column; 
    align-items: center;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  nav ul {
    flex-direction: row; 
  }
}


@media (min-width: 769px) {
  body {
    font-size: 16px;
    max-width: 1500px;
    margin: auto;
  }

.content {
    text-align: left;
  }
}

