body {
    font-family: Arial;
    padding: 20px;
}

h2 {
    text-align: center;
}

table.box {
    width: 100%;
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    background: white;
}

th {
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

td {
    padding: 10px;
    border: none;
}

input, select, textarea {
    width: 95%;
    padding: 4px;
}

td input[type=radio] {
  float:none;
  margin-left:5px;
}