body{
	font-family:Arial,sans-serif;
	margin:0;
	padding:0;
}
table{
	width:100%;
	align-items:center;
	border-collapse:collapse;
}
td{
	padding:8px;
	vertical-align: top;
}


caption{
	font-size:20px;
	font-weight:bold;
	margin-top:5px
}
form {
    background-color: powderblue;
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}	

