body{
background-color:#E5CCFF;
padding:25px;
font-size:150%;}

h1{
color:#36BFA8;padding:15px;
text-align:center;
font-family:cursive;
font-size:300%;
}

font{
font-weight:bold;
}

p.special{
line-height:150%;
border-style:double;
}