body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  background-color: #003399;
  color: white;
  padding: 10px;
  gap:15px;
 }

.welcome {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top:10px;
  background-color: #003399;
  padding: 10px;
}


header img {
  margin-right: 15px;
 
}

.logo-text h1 {
  margin: 0;
  font-size: 1.2;
}

.logo-text p {
  margin: 0;
  font-size: 1em;
}

nav {
  background-color: #0055cc;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

nav ul li a:hover {
  background: #003399;
  padding: 1px;
}

.content {
  padding: 20px;
  text-align: center;
}

.content-frame {
  width: 100%;
  height: 550px;
  border: none;
  text-align: left;
}


@media (max-width: 360px) {
  body {
    font-size: 12px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
}

h2 {
  color: #003399;
  margin-top: 40px;
}

.programmes, .news, .reason, .about,.et, .student,.contact,.aa,.form,.contact-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.card {
  background: white;
  width: 280px;
  padding: 10px;
  border-radius: 12px;
  text-align:left;
  border:3px solid darkblue;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50%;
  height: flex;
  margin-bottom: 0px
}

.card h3 {
  color: #0056b3;
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 14px;
  line-height: 1.3;
}

.us {
  background: white;
  width:620px;
  padding:15px;
  border-radius: 12px;
  text-align:left;
  border:3px solid darkblue;
  transition: transform 0.3s;
}

.us:hover {
  transform: translateY(-5px);
}

.us h3 {
  color:#0056b3;
  font-size: 20px;
  margin-bottom: 5px;
}

.us p,ul {
  color: #555;
  font-size: 15px;
  line-height: 1.5;
}

.team {
  background: white;
  width: 150px;
  padding: 20px;
  border-radius: 12px;
  text-align:left;
  border:3px solid darkblue;
  transition: transform 0.3s;
}

.team:hover {
  transform: translateY(-5px);
}

.team h3 {
  color:#0056b3;
  font-size: 20px;
  margin-bottom: 5px;
}

.team p {
  color: #555;
  font-size: 15px;
  line-height: 1.5;
}

.detail {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  text-align:left;
  border:3px solid darkblue;
  transition: transform 0.3s;
}

.detail:hover {
  transform: translateY(-5px);
}

.detail h3 {
  color:#0056b3;
  font-size: 20px;
  margin-bottom: 5px;
}

.detail p {
  color: #555;
  font-size: 15px;
  line-height: 1.5;
}

.map{
	margin:20px;
	width:90%;
}

.map iframe{
	width:100%;
	height:350px;
	border:0px;
	border-radius:8px;
}

.app {
  background: white;
  width:620px;
  padding:15px;
  border-radius: 12px;
  text-align:left;
  border:3px solid darkblue;
  transition: transform 0.3s;
}

.app:hover {
  transform: translateY(-5px);
}

.app h3 {
  color:#0056b3;
  font-size: 20px;
  margin-bottom: 5px;
}

.app p,ul {
  color: #555;
  font-size: 15px;
  line-height: 1.5;
}

.btn{
  display:inline-block;
  background:#0055cc;
  color:white;
  padding:10px 16px;
  border-radius:6px;
  text-decoration:none;
  font-weight:700;
  border:none;
}
.btn:hover{
	background:grey;
	}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  padding: 10px 8px;
  vertical-align: middle;
}

td:first-child {
  text-align: left;
  padding-left: 10px;
  width: 35%;
  font-weight: bold;
  color: #003399;
}

td:last-child {
  text-align: left;
  width: 65%;
}


form {
  text-align: center;
}


.pd {
  background: white;
  width:620px;
  padding:15px;
  border-radius: 12px;
  text-align:left;
  border:3px solid darkblue;
  align-items:center;
}

.pd,.contact-form caption {
  color:#0056b3;
  font-size: 20px bold;
  margin-bottom: 15px;
}

.pd p,ul {
  color: #555;
  font-size: 15px;
  line-height: 1.5;
}

.novatech{
	padding:25px;
	background-color:#C0C0C0;
	color:white;
}

.project {
  background: white;
  width: 350px;
  padding: 10px;
  border-radius: 12px;
  text-align:left;
  border:3px solid darkblue;
  transition: transform 0.3s;
}

.project:hover {
  transform: translateY(-5px);
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  display: block;
}


.project h3 {
  color: #0056b3;
  font-size: 18px;
  margin-bottom: 10px;
}

.project p {
  color: #555;
  font-size: 15px;
  line-height: 1.5;
}

@media (min-width: 769px) {
  body {
    font-size: 16px;
	max-width:1500px;
    margin: auto;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .content {
    text-align: left;
  }
}

.project {
  background: white;
  width: 350px;
  padding: 10px;
  border-radius: 12px;
  border: 3px solid darkblue;
  transition: transform 0.4s, box-shadow 0.4s;
}

.project:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
}

